body {
    margin: 100px;
    text-align: center;
    font-family: 'Helvetica Neue', 'Helvetica', 'Arial';
}
button#listen {
    width: 280px;
    height: 80px;
    border-radius: 8px;
    font-size: 30px;
}

p {
    font-size: 20px;
}

img.badger {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: orbit 3.6s ease-in-out -2s infinite;
}

@keyframes orbit {
    0%    { transform: translateX(50vw)  scale(-9.0) }
    50%   { transform: translateX(-10vw) scale( 6.0) }
    100%  { transform: translateX(50vw)  scale(-9.0) }
}
