img.badger {
    position: absolute;
    width: 100px;
    height: 100px;
    animation: orbit 3.6s ease-in-out -2s infinite;
}

@keyframes orbit {
    0%    { transform: translateX(50vw)  scale(1.0) }
    50%   { transform: translateX(-10vw) scale(2.0) }
    100%  { transform: translateX(50vw)  scale(1.0) }
}
